<app-titulo [titulo] ="titulo"></app-titulo>
<div class="d-flex">
  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label> <input type="text" class="form-control mr-2" placeholder="buscar"
        [(ngModel)]="filtroLista">
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="novoEvento(template)">
      <i class="fa fa-plus-circle"></i>
      Novo Evento
    </button>
  </div>
</div>
<h3>Filtro:{{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-ligth">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alterarImagem()">
          <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}" tooltip="Mostrar/Ocultar"></i>
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem" src="http://localhost:5000/img/{{evento.imagemUrl}}" [style.width.px]="imagemAltura"
          [style.margin.px]="imagemMargem">
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>
        <div *ngIf="!evento.lotes.length">
          Não Informado
        </div>
        <div *ngIf="evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editarEvento(evento, template)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirEvento(evento, confirm)">
            <i class="fa fa-eraser"></i>
          </button>          
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h3>
          Nenhum Evento Encontrado!
        </h3>
      </td>
    </tr>
  </tfoot>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('tema').errors && registerForm.get('tema').touched}"
                formControlName="tema" placeholder="Insira o Tema">
              <div *ngIf="registerForm.get('tema').hasError('required') && registerForm.get('tema').touched"
                class="invalid-feedback">
                Tema é obrigatório
              </div>
              <div *ngIf="registerForm.get('tema').hasError('minlength') && registerForm.get('tema').touched"
                class="invalid-feedback">
                Tema deve ter no mínimo 4 caracteres
              </div>
              <div *ngIf="registerForm.get('tema').hasError('maxlength') && registerForm.get('tema').touched"
                class="invalid-feedback">
                Tema deve ter no máximo 50 caracteres
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('local').errors && registerForm.get('local').touched}"
                formControlName="local" placeholder="Insira o local">
              <div *ngIf="registerForm.get('local').hasError('required') && registerForm.get('local').touched"
                class="invalid-feedback">
                Local é obrigatório
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input type="text" class="form-control" bsDatepicker
                [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors && registerForm.get('dataEvento').touched}"
                formControlName="dataEvento">
              <div *ngIf="registerForm.get('dataEvento').hasError('required') && registerForm.get('dataEvento').touched"
                class="invalid-feedback">
                Data e Hora é obrigatório
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Qtd Pessoas</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('qtdPessoas').errors && registerForm.get('qtdPessoas').touched}"
                formControlName="qtdPessoas">
              <div *ngIf="registerForm.get('qtdPessoas').hasError('required') && registerForm.get('qtdPessoas').touched"
                class="invalid-feedback">
                Qtd Pessoas é obrigatório
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Imagem</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('imagemUrl').errors && registerForm.get('imagemUrl').touched}"
                formControlName="imagemUrl">
              <div *ngIf="registerForm.get('imagemUrl').hasError('required') && registerForm.get('imagemUrl').touched"
                class="invalid-feedback">
                A Imagem é obrigatório
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Telefone</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('telefone').errors && registerForm.get('telefone').touched}"
                formControlName="telefone">
              <div *ngIf="registerForm.get('telefone').hasError('required') && registerForm.get('telefone').touched"
                class="invalid-feedback">
                O Telefone é obrigatório
              </div>
            </div>
            <div class="form-group col-md-8">
              <label>Email</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
                formControlName="email">
              <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched"
                class="invalid-feedback">
                O Email é obrigatório
              </div>
              <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched"
                class="invalid-feedback">
                O Email deve ser válido
              </div>
            </div>
          </div>
        </form>
        <br>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Evento
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarEvento}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CENCELAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          			DELETAR
        		</button>
    		</div>
  		</div>
	</div>
</div>